body {
    background-color: #172A3A;
    color: rgba(255, 255, 255 , .5);
    font-family: "Montserrat";
}

html {
    height: 100%;
}

h3 {
    color:#172A3A;
}

#container {
    padding: 20px;
    background-color: #037171;
    max-width: 720px;
    min-width: 200px;
    margin: 20px auto;
    text-align: center;
    margin-top: 100px;
}

#generate {
    border: none;
    padding: 10px;
    background: #508991;
    outline: none;
    color: inherit;
    font-family: inherit;
}
#generate:hover{
    background: #37828b;
}