body {
    background-color: #172A3A;
    color: rgba(255, 255, 255 , .5);
    font-family: "Montserrat";
}

html {
    height: 100%;
}

h3 {
    color:rgba(255, 255, 255 , .8);
}

#container {
    padding: 20px;
    background-color: rgba(75, 75, 75, .5);
    max-width: 720px;
    min-width: 200px;
    margin: 20px auto;
    text-align: center;
    margin-top: 100px;
}

#generate {
    border: none;
    padding: 10px;
    background: rgba(75, 75, 75, .6);
    outline: none;
    color: inherit;
    font-family: inherit;
}
#generate:hover{
    background: rgba(75, 75, 75, .8);
}

#tweet {
    border: none;
    padding: 11px;
    background: rgba(75, 75, 75, .6);
    outline: none;
    color: inherit;
    font-family: inherit;
}

#tweet:hover{
  text-decoration: none;
  background: rgba(75, 75, 75, .8);
}

#tweet:focus{
  text-decoration: none;
}

